body {
    background: url('../img/pattern.jpg');
    margin: 0px;
}

section {
    background-color: white;
    margin: 44px 15% 0 15%;
    padding: 10px;
}

section>h1 {
    text-align: center;
}

#article-list>div {
    border-bottom: solid black 1px;
}

header {
    display: block;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
}

li {
    list-style-type: none
}

nav,
ul,
li {
    display: inline;
}

nav {
    float: right;
    padding-top: 17px;
}

a {
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 40px;
    vertical-align: middle;
    display: table-cell;
    width: 100vw;
}

h5 {
    margin: 0;
    vertical-align: middle;
}